.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 35px 0 0 30px;
  border-radius: 10px;
  gap: 32px;
  background: url(../../assets/images/bg-sidebar-desktop.svg) no-repeat
    center;
}
