body {
  background-color: hsl(217, 100%, 97%);
}

.main-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 274px 1fr;
  max-width: 940px;
  min-height: 568px;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.data-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: hsl(0, 0%, 100%);
}
