body {
  background-color: hsl(217, 100%, 97%);
}

.main-container {
  display: grid;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  grid-template-columns: 274px 1fr;
  max-width: 940px;
  min-height: 568px;
  background-color: hsl(0, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  border-radius: 18px;
}

.data-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: hsl(0, 0%, 100%);
}
